.WorkLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.content {
  display: flex;
  flex-grow: 1;
}

.nav {
  display: flex;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.headerLeftBlock {
  display: flex;
  gap: 10px;
}

.right {
  margin: auto 0 auto auto;
}
