.Footer {
  min-height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 12px;
  flex-direction: column;
  gap: 26px;
}

.footerText {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

.communicationButtonsWrapper {
  display: flex;
  gap: 35px
}
